@charset "UTF-8";
/* FICHIER : styles.scss */
/* permet de forcer l’encodage UTF-8 dans le fichier principal */
/* lier le fichier partial et les sous-fichiers : */
/* FICHIER : _color_variable_config.scss */
/* TAILLE : point de rupture des media-queries */
/*RECOMMENDATION SASS convertion #AAD5DF en rgb(170,213,223) VOIR MIEUX HSL Hue 191° Saturation 45.3 % Lightness 77.1 = bleu ciel */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
.darken-20 {
  background-color: #60b0c3; }

.lighten-20 {
  background-color: #f4fafb; }

.mix-black-20 {
  background-color: #88aab2; }

.mix-white-20 {
  background-color: #bbdde5; }

.darken-30 {
  background-color: #429aae; }

.lighten-30 {
  background-color: white; }

.mix-black-30 {
  background-color: #77959c; }

.mix-white-30 {
  background-color: #c4e2e9; }

.darken-40 {
  background-color: #347989; }

.lighten-40 {
  background-color: white; }

.mix-black-40 {
  background-color: #668086; }

.mix-white-40 {
  background-color: #cce6ec; }

.darken-50 {
  background-color: #265864; }

.lighten-50 {
  background-color: white; }

.mix-black-50 {
  background-color: #556b70; }

.mix-white-50 {
  background-color: #d5eaef; }

.darken-60 {
  background-color: #18383f; }

.lighten-60 {
  background-color: white; }

.mix-black-60 {
  background-color: #445559; }

.mix-white-60 {
  background-color: #ddeef2; }

.darken-70 {
  background-color: #0a171a; }

.lighten-70 {
  background-color: white; }

.mix-black-70 {
  background-color: #334043; }

.mix-white-70 {
  background-color: #e6f2f5; }

.darken-80 {
  background-color: black; }

.lighten-80 {
  background-color: white; }

.mix-black-80 {
  background-color: #222b2d; }

.mix-white-80 {
  background-color: #eef7f9; }

.darken-90 {
  background-color: black; }

.lighten-90 {
  background-color: white; }

.mix-black-90 {
  background-color: #111516; }

.mix-white-90 {
  background-color: #f7fbfc; }

.darken-100 {
  background-color: black; }

.lighten-100 {
  background-color: white; }

.mix-black-100 {
  background-color: black; }

.mix-white-100 {
  background-color: white; }

/*REC. conversion #552a20 en rgb(85,42,32) voir MIEUX hsl(11°,45%,23%) =  brun foncé écriture */
/*REC. conversion #A38A7C en rgb(163,138,124) voir MIEUX hsl(22°,17%,56%) = brun gris blanc */
/* FICHIER : _mixin_placeholder.scss */
/* ====
	MIXIN
	==== */
/* ====
	PLACEHOLDER
	==== */
.bloc-page {
  display: block;
  margin: 0 auto; }

.logo img, #info-logo, .form {
  display: inline-block; }

h1 > span, .nav-menu, .rubriques-articles ul ul, .rubriques-articles > ul > li > a, .menu, .img, .big-detail {
  display: none; }

.ariane {
  display: flex; }

.container {
  margin-left: 0;
  /*margin-right: $space;*/
  display: flex;
  flex-wrap: wrap; }

/*
		
		.row{
			margin-left: -$space;
			margin-left: -$space;
			display: flex;
			flex-wrap: wrap;
		}
	*/
[class*="col-"] {
  color: inherit;
  padding-right: 1rem;
  padding-left: 1rem;
  border: solid 1px #FFF;
  margin-top: 1rem;
  margin-left: 1rem;
  /*margin-right: $space;*/
  flex-grow: 1;
  flex-shrink: 0; }

[class*="col-"]:first-child {
  margin-left: 0; }

[class*="nospace-"] {
  color: inherit;
  padding-right: 1rem;
  padding-left: 1rem;
  border: solid 1px #FFF;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  flex-grow: 1;
  flex-shrink: 0; }

/* name: xs, md, lg ; size: 480PX */
@media only screen and (min-width: 480px) {
  .col-xs-1 {
    flex-basis: 8.33333%; }
  .nospace-xs-1 {
    flex-basis: 8.33333%; }
  .col-xs-2 {
    flex-basis: 16.66667%; }
  .nospace-xs-2 {
    flex-basis: 16.66667%; }
  .col-xs-3 {
    flex-basis: 25%; }
  .nospace-xs-3 {
    flex-basis: 25%; }
  .col-xs-4 {
    flex-basis: 33.33333%; }
  .nospace-xs-4 {
    flex-basis: 33.33333%; }
  .col-xs-5 {
    flex-basis: 41.66667%; }
  .nospace-xs-5 {
    flex-basis: 41.66667%; }
  .col-xs-6 {
    flex-basis: 50%; }
  .nospace-xs-6 {
    flex-basis: 50%; }
  .col-xs-7 {
    flex-basis: 58.33333%; }
  .nospace-xs-7 {
    flex-basis: 58.33333%; }
  .col-xs-8 {
    flex-basis: 66.66667%; }
  .nospace-xs-8 {
    flex-basis: 66.66667%; }
  .col-xs-9 {
    flex-basis: 75%; }
  .nospace-xs-9 {
    flex-basis: 75%; }
  .col-xs-10 {
    flex-basis: 83.33333%; }
  .nospace-xs-10 {
    flex-basis: 83.33333%; }
  .col-xs-11 {
    flex-basis: 91.66667%; }
  .nospace-xs-11 {
    flex-basis: 91.66667%; }
  .col-xs-12 {
    flex-basis: 100%; }
  .nospace-xs-12 {
    flex-basis: 100%; } }

/* name: xs, md, lg ; size: 480PX */
@media only screen and (min-width: 640px) {
  .col-md-1 {
    flex-basis: 8.33333%; }
  .nospace-md-1 {
    flex-basis: 8.33333%; }
  .col-md-2 {
    flex-basis: 16.66667%; }
  .nospace-md-2 {
    flex-basis: 16.66667%; }
  .col-md-3 {
    flex-basis: 25%; }
  .nospace-md-3 {
    flex-basis: 25%; }
  .col-md-4 {
    flex-basis: 33.33333%; }
  .nospace-md-4 {
    flex-basis: 33.33333%; }
  .col-md-5 {
    flex-basis: 41.66667%; }
  .nospace-md-5 {
    flex-basis: 41.66667%; }
  .col-md-6 {
    flex-basis: 50%; }
  .nospace-md-6 {
    flex-basis: 50%; }
  .col-md-7 {
    flex-basis: 58.33333%; }
  .nospace-md-7 {
    flex-basis: 58.33333%; }
  .col-md-8 {
    flex-basis: 66.66667%; }
  .nospace-md-8 {
    flex-basis: 66.66667%; }
  .col-md-9 {
    flex-basis: 75%; }
  .nospace-md-9 {
    flex-basis: 75%; }
  .col-md-10 {
    flex-basis: 83.33333%; }
  .nospace-md-10 {
    flex-basis: 83.33333%; }
  .col-md-11 {
    flex-basis: 91.66667%; }
  .nospace-md-11 {
    flex-basis: 91.66667%; }
  .col-md-12 {
    flex-basis: 100%; }
  .nospace-md-12 {
    flex-basis: 100%; } }

/* name: xs, md, lg ; size: 480PX */
@media only screen and (min-width: 1024px) {
  .col-lg-1 {
    flex-basis: 8.33333%; }
  .nospace-lg-1 {
    flex-basis: 8.33333%; }
  .col-lg-2 {
    flex-basis: 16.66667%; }
  .nospace-lg-2 {
    flex-basis: 16.66667%; }
  .col-lg-3 {
    flex-basis: 25%; }
  .nospace-lg-3 {
    flex-basis: 25%; }
  .col-lg-4 {
    flex-basis: 33.33333%; }
  .nospace-lg-4 {
    flex-basis: 33.33333%; }
  .col-lg-5 {
    flex-basis: 41.66667%; }
  .nospace-lg-5 {
    flex-basis: 41.66667%; }
  .col-lg-6 {
    flex-basis: 50%; }
  .nospace-lg-6 {
    flex-basis: 50%; }
  .col-lg-7 {
    flex-basis: 58.33333%; }
  .nospace-lg-7 {
    flex-basis: 58.33333%; }
  .col-lg-8 {
    flex-basis: 66.66667%; }
  .nospace-lg-8 {
    flex-basis: 66.66667%; }
  .col-lg-9 {
    flex-basis: 75%; }
  .nospace-lg-9 {
    flex-basis: 75%; }
  .col-lg-10 {
    flex-basis: 83.33333%; }
  .nospace-lg-10 {
    flex-basis: 83.33333%; }
  .col-lg-11 {
    flex-basis: 91.66667%; }
  .nospace-lg-11 {
    flex-basis: 91.66667%; }
  .col-lg-12 {
    flex-basis: 100%; }
  .nospace-lg-12 {
    flex-basis: 100%; } }

/* FICHIER : _positions.scss */
/* ================================================== 
            /* #LES DIFFERENTES PAGES
             ================================================== */
/* ====
			Vue MOBILE FIRST
			==== */
/* ====
		page CATALOGUE
		==== */
/* ====
			header
			==== */
.headPrincipal {
  text-align: center;
  align-items: center; }

/* ====
			nav-menu
			==== */
/* ====
		fil d'Ariane 
		==== */
/* ====
	  2ième menu avec une NAV pour les différents MEUBLES 
	 ==== */
/* ====
	main : bloc-page
	==== */
.prix {
  position: absolute;
  left: 1rem;
  right: 2rem;
  bottom: 5px; }

.article {
  position: relative; }

/* ===
	    page DETAIL
		==== */
/* ===
	    page CATALOGUE
	    ==== */
@media screen and (min-width: 640px) {
  .menu, .img {
    display: block; }
  .nav-menu {
    display: flex; }
    .nav-menu li {
      display: flex; }
    .nav-menu a {
      display: block; }
  .menu {
    display: flex; }
  .rubriques-articles {
    padding-right: 3rem; }
  .rubriques-articles > ul > li > a {
    display: block; }
  .rubriques-articles ul ul {
    display: block; }
  .headPrincipal {
    display: flex; }
  /* ====
			PAGE HOME 
			==== */
  .img-slide {
    background-position: 25% 75%;
    /* Positionnement FIN de l'image */ }
  .img {
    display: block; }
  .big-detail img {
    display: block; } }

/* FICHIER : _header_footer.scss */
/* ================================================== 
            /* #LES DIFFERENTES VUES
             ================================================== */
/* ====
	Vue MOBILE FIRST
	==== */
/* ====
		header
		==== */
.header {
  background-color: #9683ec; }

.mix-white-40 {
  background-color: #aad5df;
  /* ici mix-white-40 est sur l'active */ }

/* ====
	Vue TABLETTE
	==== */
@media screen and (min-width: 640px) {
  .form {
    margin-top: 1rem; }
  .nav-menu {
    padding: 0 1rem;
    margin: 1rem;
    list-style-type: none;
    justify-content: space-around; }
    .nav-menu a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      color: #552a20; }
    .nav-menu li {
      border-bottom: 0.2rem solid transparent; }
    .nav-menu li:hover {
      border-bottom: 0.2rem solid #aad5df; }
    .nav-menu h2 {
      margin-bottom: 0;
      margin-top: 0;
      text-align: center;
      font-size: 1.3rem; } }

/* FICHIER : _catalogue.scss */
/* ================================================== 
            /* #LES DIFFERENTES PAGES
             ================================================== */
/* ====
		page CATALOGUE 
		==== */
/* ====
	2ième MENU avec une NAV pour les différents MEUBLES
	==== */
.rubriques-articles ul {
  list-style-type: none;
  /*padding-right: 2rem;*/
  padding-left: 0; }

.rubriques-articles a {
  text-decoration: none;
  color: inherit; }

.rubriques-articles a:hover {
  background-color: #aad5df; }

.rubriques-articles > ul > li > a {
  border-bottom: 2px solid #aad5df;
  text-transform: uppercase;
  padding-left: 1rem; }

/* ================================================== 
            /* #LES DIFFERENTES VUES
             ================================================== */
/* ====
	Vue MOBILE FIRST
	==== */
/* ====
	main : bloc-page
	==== */
.prix {
  text-align: right;
  color: white;
  background-color: #aad5df;
  margin-bottom: 1rem; }

article {
  padding: 0 1rem 4rem 1rem;
  border: 1px solid #aad5df;
  margin-bottom: 1rem; }
  article a {
    text-decoration: none; }
  article p {
    margin-bottom: 1rem; }

.article-titre {
  color: #aad5df; }

.article-text {
  color: #552a20; }

/* ====
	Vue TABLETTE
	==== */
@media screen and (min-width: 640px) {
  article img {
    width: 110px; }
  .rubriques-articles ul ul {
    padding-left: 2rem; }
  .article {
    padding-bottom: 2rem; }
    .article .prix {
      visibility: hidden;
      width: 95%;
      transition: all 2s linear; } }

/* ====
		Vue BUREAU
		==== */
@media screen and (min-width: 1024px) {
  article img {
    width: 13rem; } }

/* FICHIER : _detail.scss */
/* ================================================== 
            /* #LES DIFFERENTES PAGES
             ================================================== */
/* ====
			Vue MOBILE FIRST
			==== */
/* ====
		pages DETAIL
		==== */
.prix-detail {
  text-align: left;
  color: white;
  background-color: #aad5df;
  padding: 0.7rem 0 0.7rem 0.5rem;
  margin-bottom: 2rem; }

.contenu-detail {
  padding: 0 1rem; }

#petite-majuscule {
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 1.7rem;
  margin-bottom: 0.2rem; }

/* ====
	Vue TABLETTE
	==== */
@media screen and (min-width: 640px) {
  .big-detail img {
    height: 26rem;
    width: 26rem; } }

/* ====
	Vue BUREAU
	==== */
@media screen and (min-width: 1024px) {
  prix-detail {
    max-width: 50%; } }

/* FICHIER : _contact.scss */
/* ================================================== 
            /* #LES DIFFERENTES PAGES
             ================================================== */
/* ====
			Vue MOBILE FIRST
			==== */
/* ====
		page CONTACT ==> à REALISER (ce n'est pas encore en ordre)
		==== */
.plan iframe {
  height: 95%; }

.infos p {
  padding-left: 1rem; }

.infos a {
  text-decoration: none;
  color: inherit; }

.bold {
  font-weight: 700; }

[class^="form--titre"] {
  background-color: #aad5df;
  /* bleu très très clair !!! placer la  class="mix-white-40"*/
  color: inherit;
  padding: 1rem 0;
  margin: 0;
  /* la margin est remplacée par le padding pour respecter le modèle */ }

input[type="email"]:valid {
  background-color: #33fa33; }

.renseignement input[type*="email"], .renseignement input[type*="text"] {
  height: 3rem;
  width: 15rem; }

.renseignement div:first-child p {
  text-align: right;
  padding-right: 2rem; }

.renseignement textarea {
  margin-top: 1rem; }

@media screen and (min-width: 640px) {
  form.renseignement {
    flex-wrap: nowrap; } }

/* lier la Google Font : */
/*=================
  # STYLES GENERAUX  
     =================*/
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #552a20;
  background-color: #ddeeaa;
  font-family: "trebuchet MS", helvetica, Arial, sans-serif;
  font-size: 1.4rem; }

.bloc-page {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "trebuchet MS", helvetica, Arial, sans-serif; }

h1 {
  /* pour le référencement, il est utile d'avoir un h1
		sur chaque page avec du texte => ici le nom de la société;
		 donc dans l'image du logo, je mets un span 
		 */ }
  h1#info-logo {
    margin: 0;
    margin-left: 0; }
  h1 > span {
    display: none; }

h3 {
  color: #aad5df;
  font-size: 2rem;
  background-color: inherit; }

P {
  color: black; }

/* ====
	fil d'Ariane 
	==== */
.ariane {
  background-color: #aad5df;
  text-transform: uppercase;
  list-style-type: none;
  padding: 1rem 0; }
  .ariane a {
    text-decoration: none;
    color: #552a20; }
  .ariane:nth-child(1) {
    color: white; }

/* ================================================== 
            /* # HOME PAGE : avec photos et slider à ne pas réaliser
             ================================================== */
/* ====
	Vue MOBILE FIRST
	==== */
/* ====
	main : bloc-page
	==== */
.img-home img, .img-gazza img {
  width: 16rem;
  height: 12rem; }

/* ====
	Vue TABLETTE
	==== */
@media screen and (min-width: 570px) {
  .img img {
    width: 15rem;
    height: 15rem; }
  .img-slide {
    background-image: url("../img/slide.jpg");
    /* image de décoration */
    background-size: cover;
    /* pour les images de FOND */ }
  .form {
    text-align: right; }
  .contenu {
    width: 90%;
    margin: 0 auto; } }
