/* FICHIER : _button.scss */
/*
.btn {
	
	text-decoration: none;
	border-radius: 1px;
	padding: 1rem;
	margin: 0.7rem;
	
}


.btn-light{
	color: $colorWhite;
	border: 1px solid $colorWhite;
	
}
.btn-light:hover{
	background-color: $colorWhite;
	color: $colorFonceExtreme;
}
*/