/* FICHIER : _header_footer.scss */

/* ================================================== 
            /* #LES DIFFERENTES VUES
             ================================================== */

/* ====
	Vue MOBILE FIRST
	==== */

	/* ====
		header
		==== */

.header{
	background-color: $couleurFondHeader; // brun brique A ENLEVER

}
.mix-white-40{
	background-color: $theme; /* ici mix-white-40 est sur l'active */
}


/* ====
	Vue TABLETTE
	==== */

	@media screen and (min-width: $md){
	
		.form{
		margin-top: 1rem;
		}
		.nav-menu{
		padding: 0 1rem;
		margin: 1rem;  
		list-style-type: none;
		justify-content: space-around;

			a{
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.4rem;
			color: $ecritureTer;
			}   
		}
	}