/* FICHIER : _mixin_placeholder.scss */


/* ====
	MIXIN
	==== */



/* ====
	PLACEHOLDER
	==== */

%center {
	display: block;
	margin: 0 auto;

}
%block {
	display: block;
}

%inlineBlock {
	display: inline-block;
}

%none {
	display: none;
}

%flex {
	display: flex;
}