/* FICHIER : _positions.scss */

/* ================================================== 
            /* #LES DIFFERENTES PAGES
             ================================================== */
	
		/* ====
			Vue MOBILE FIRST
			==== */

	/* ====
		page CATALOGUE
		==== */

		/* ====
			header
			==== */


	.logo img, #info-logo, .form{
		@extend %inlineBlock;
	}

	h1>span{
		@extend %none;
	}

		.headPrincipal{
			text-align:center;
			align-items: center;
		
		}
		/* ====
			nav-menu
			==== */
		
		
		.nav-menu{
			@extend %none;
		}


	/* ====
		fil d'Ariane 
		==== */

	.ariane{
		@extend %flex;
	}

	/* ====
	  2ième menu avec une NAV pour les différents MEUBLES 
	 ==== */
.rubriques-articles ul{
	ul{
		@extend %none;
	}
}

.rubriques-articles > ul > li > a{
	@extend %none;
}


	/* ====
	main : bloc-page
	==== */


.prix{
	position: absolute;
	left: 1rem;
	right: 2rem;
	bottom: 5px;
}

.article{
	position: relative;
}

.menu, .img{
	@extend %none;
}
	/* ===
	    page DETAIL
		==== */

.big-detail{
	@extend %none;
}
	
		


	/* ===
	    page CATALOGUE
	    ==== */
	@media screen and (min-width : $md){

		.menu, .img {
			display: block;
		 }

		.nav-menu{
			display: flex;

			li{
				display: flex;
			}
			a{
				display: block;
			}

		}

		.menu{
			display: flex;
		}

		.rubriques-articles{
			padding-right: 3rem;
		}

	   .rubriques-articles > ul > li > a{
			display: block;
			}

		.rubriques-articles ul{
			ul{
				display: block;
			}
		}
	
		.headPrincipal{
			display: flex;
		}

		/* ====
			PAGE HOME 
			==== */	
			
		.img-slide{
				
				background-position: 25% 75%; /* Positionnement FIN de l'image */
		
		}
		
		.img{
			display: block;
		}
		
		.big-detail{
			img{
				display: block;
			}
		}
			  
	}
